* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;

}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 1366px;
    margin: 0 auto;
}

.header {
    padding-top: 63px;
}

.menu {
    float: right;
}

.slider {
    height: 800px;
    background-image: url(../img/slider-img.jpg);
    position: relative;
}

.menu-list {
    list-style-type: none;
    float: left;

}

.menu-link {
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    /*декорация текста - нижнее подчеркивание*/
    padding: 10px 13px;
}

.menu-link:hover {
    color: #212121;
}

.menu-link-active {
    color: #212121;
    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
    /*декорация активного элемента меню*/
}

.slider-text {
    margin-top: 283px;
}

.slider-tranding {
    color: #43a047;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-h2 {
    color: #212121;
    font-size: 62px;
    font-weight: 100;
    text-transform: uppercase;
    line-height: 72px;
    
}

.slider-content {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 458px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.button {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    /*вертикальное центрирование*/
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}
.button:hover{
    background-color: #e8e9eb;
}
.button:active{
    box-shadow: none;
}

.pagination {
    position: absolute;
    width: 1170px;
    bottom: 19px;
    text-align: center;
}

.circle {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c7c7c7;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #212121;

}

.circle-active {
    width: 40px;
    height: 40px;
    background-color: #212121;
    margin-bottom: 0;
}

.padding-site {
    padding-left: 98px;
    padding-right: 98px;
}

.arrow_page1 {
    width: 9px;
    height: 12px;
    color: #212121;
}

/*Page 2*/
.container_page2 {
    width: 1366px;
    margin: 0 auto;
}

.slider_page2 {
    height: 609px;
    background-color: #ffffff;
    position: relative;

}

.header_page2 {
    padding-top: 120px;
}


.menu-list_page2 {
    list-style-type: none;
    float: left;
    padding-right: 31px;
}

.menu-link_page2 {
    width: 80px;
    height: 25px;
    color: #6c6c6c;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
    border-bottom: 1px solid #212121;

}

.menu-link-active_page2 {
    color: #212121;
    list-style-type: none;

    font-weight: 700;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;
    /*декорация активного элемента меню*/
}

.menu-link_page2:hover {
    color: #212121;
    border-bottom: 3px solid #212121;
}

.button_page2 {
    width: 48px;
    height: 48px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
    line-height: 55px;
    margin-top: 62px;
}

.arrow_page2 {
    width: 12px;
    height: 20px;
    display: inline-block;
}

.slider-h2_page2 {
    color: #212121;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 19px;
}

.slider-content_page2 {
    width: 206px;
    height: 33px;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
    margin-top: 23px;
    margin-left: 32px;
}

.window_page2 {
    text-decoration: none;

}

.window_li_page2 {
    display: inline-block;

}

.img_box_page2 {
    display: inline-block;
    margin-right: 22px;
    width: 270px;
    height: 270px;
    margin-top: 50px;
}

.img_box_page2_active {
    display: inline-block;
    width: 270px;
    height: 270px;
    margin-right: 22px;
    margin-top: 50px;
}

.slider-text_page2 {
    width: 270px;
    height: 270px;
    text-align: center;
    position: absolute;
    opacity: 0.9;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    margin-top: 50px;
    padding-bottom: 10
}

.slider-text_page2:hover {
    outline: 3px solid #9c9c9c;
}

.img_box_page2:hover {
    opacity: 0.8;
    background-color: #ffffff;
}

.new_link {
    width: 158px;
    height: 13px;
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    float: right;
    text-decoration: none;
    padding-top: 15px
}
.new_link:hover{
    color: #af2819;
    
}

/*Page 3*/
.container_page3 {
    width: 1366px;
    margin: 0 auto;
}

.slider_page3_1 {
    width: 683px;
    height: 683px;
    background-image: url(../img/promo-img.jpg);
    position: relative;
    float: right
}

.slider_page3_2 {
    width: 683px;
    height: 683px;
    background-image: url(../img/promo-img1.jpg);
    position: relative;
    float: right
}

.slider-text_page3 {
    margin-top: 228px;
}

.slider-tranding_page3 {
    /* Style for "exclusive" */
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.slider-h2_page3 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.slider-content_page3 {
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    width: 374px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 24px;
}

.padding-content_page3 {
    padding-left: 51px;
    padding-right: px;
}

.button_page3 {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    width: 212px;
    height: 45px;
    line-height: 45px;
    /*вертикальное центрирование*/
    text-align: center;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 3.6px;
}
.button_page3:hover{
    background-color: #e8e9eb;
}
.button_page3:active{
    box-shadow: none;
}

.slider_box_page3{
    height: 683px;
    background-color: #ffffff;
    position: relative;
}
/*page 4*/
.container_page4{
    width: 1366px;
    margin: 0 auto;
}
.slider_box_page4{
    height: 989px;
    background-color: #ffffff;
    position: relative;
}

.slider_page4{
    margin-top: 119px;
}

.slider-h2_page4 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    float: left;

}
.menu-list_page4 {
    list-style-type: none;
    float: left;
    padding-right: 30px;
}

.menu-link_page4 {
    width: 80px;
    height: 25px;
    color: #212121;
    font-size: 36px;
    font-weight: 700;
    text-decoration: none;
}
.menu-link_page4:hover{
    color: #6c6c6c;
}
.window_page4 {
    text-decoration: none;

}

.window_li_page4 {
    display: inline-block;

}

.img_box_page4 {
    display: inline-block;
    margin-right: 20px;
    width: 370px;
    height: 370px;
    margin-top: 64px;
}

.img_box_page4:hover {
    opacity: 0.8;
    background-color: #ffffff;
}
/*page 5*/
.main_slider_page5{
    height: 800px;
    background-image: url(../img/slider.jpg);
    position: relative;
}

.slider-tranding_page5 {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

/*page 6*/
.container_page6{
    width: 1366px;
    margin: 0 auto;
}
.content_box_page6{
    height: 690px;
    background-color: #ffffff;
    position: relative;
    padding-top: 120px;
}
.slider_page6_1 {
    width: 600px;
    height: 600px;
    float: right;
    padding-right: 68px;
    padding-left: 30px;
}

.slider_page6_1_1 {
    width: 270px;
    height: 270px;
    background-image: url(../img/product-2-sm.jpg);
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;  
}

.slider_page6_1_2 {
    width: 270px;
    height: 270px;
    background-image: url(../img/product-3-sm.jpg);
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;
}
.slider_page6_1_3 {
    width: 270px;
    height: 270px;
    background-image: url(../img/product-4-sm.jpg);
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;
}
.slider_page6_1_4 {
    width: 270px;
    height: 270px;
    background-image: url(../img/product-5-sm.jpg);
    float: right;
    margin-right: 30px;
    margin-bottom: 30px;
}

.slider_page6_2 {
    width: 570px;
    height: 570px;
    background-image: url(../img/product-1-lg.jpg);
    float: left;
    margin-left: 98px;
}
.slider_page6_2:hover{
    outline: 3px solid #9c9c9c;
}
.slider_page6_1_1:hover{
    opacity: 0.8;
    background-color: #ffffff;
}
.slider_page6_1_2:hover{
    opacity: 0.8;
    background-color: #ffffff;
}
.slider_page6_1_3:hover{
    opacity: 0.8;
    background-color: #ffffff;
}
.slider_page6_1_4:hover{
    opacity: 0.8;
    background-color: #ffffff;
}

.slider-text_page6 {
    margin-top: 186px;
}

.slider-tranding_page6 {
    color: #1e88e5;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
}

.slider-h2_page6 {
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.slider-content_page6{
    width: 332px;
    height: 36px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    margin-bottom: 54px;
    line-height: 24px;
}
/*page 7*/
.container_page7 {
    width: 1366px;
    margin: 0 auto;
}
.slider_box_page7{
    height: 516px;
    background-image:url(../img/back-img.jpg);
    position: relative;
}

.slider-tranding_page7 {
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    letter-spacing: 1.8px;

}
.box_content_page7
{
    padding-top: 125px;
    padding-left: 99px;
}
.slider-h2_page7 {

color: #212121;
font-size: 62px;
font-weight: 100;
line-height: 72px;
text-transform: uppercase;
}
.slider-content_page7{
    padding-top: 26px;
}
.app_img{
    padding-top: 33px;
    height: 40px;
    width: 135px;
}
.app_img:hover{
    opacity: 0.9;
}
/*page 8*/
.container_page8 {
    width: 1366px;
    margin: 0 auto;
}
.slider_box_page8{
    height: 384px;
    background-color: #f7f7f7;
    position: relative;
}

.box_content_page8{
    padding-top: 120px;
    padding-left: 99px;
}
.footer_text_h2{
color: #6c6c6c;
font-size: 18px;
font-weight: 700;
line-height: 24px;
text-transform: uppercase;
letter-spacing: 1.8px;
}
.footer_text_p{
padding-top: 24px;
width: 363px;
height: 36px;
color: #212121;
font-size: 14px;
font-weight: 300;
}

.footer_part1{
    float: left;
    width: 320px;
}
.footer_part2{
    float: left;
    width: 400px;
}
.footer_part3{
    float: left;
    width: 400px;
    padding-left:80px;
}
.footer_useful_li{
    padding-top: 20px;
    list-style-type: none;
    color: #212121;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
}

.footer_userful{  
width: 132px;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 0.7px;
}

.footer_bottom{
    margin-top: 70px;
    margin-left: 98px;
}
.footer_bottom_li{
    list-style-type: none;
    float: left;
    padding-right: 153px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
.footer_bottom_li_last{
    list-style-type: none;
    padding-right: 0px;
    color: #6c6c6c;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.6px;
}
.input_mail{
    width: 370px;
    height: 48px;
    border: 1px solid #d9dee1;
    background-color: #ffffff;
    color: #6c6c6c;
    font-size: 14px;
    font-weight: 300;
    margin-top: 26px;
    background-image: url(../img/download.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 21px 17px;
    background-position-x: 330px;
    background-position-y: center;
    padding-right: 3px;
}
.input_mail:focus:-webkit-input-placeholder{ 
	color:transparent; 
}
.input_mail{
    text-transform: capitalize;
}
.left_table{
    float: left;
    padding-right: 73px;
}
.footer_link{
    text-decoration: none;
}
.footer_link:visited{
    color: #212121
}
.footer_link:active{
    color: #d9dee1;
}
.footer_link:hover{
    color: #6c6c6c;
}
.